.DS_Store
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
published-202510-durand-fast.Rproj
.Rproj.user/
*_cache/
/cache/
*_files/
/logo_text_white.pdf
published-202510-durand-fast.pdf
published-202510-durand-fast.html
published-202510-durand-fast.aux
published-202510-durand-fast.blg
published-202510-durand-fast.log
published-202510-durand-fast.synctex.gz
published-202510-durand-fast.toc
/published-202510-durand-fast.tex
/published-202510-durand-fast.bbl
README.html
/.quarto/
_extensions/
renv/

logo_notext_white.png

tikz/tikz.aux
tikz/tikz.log
tikz/tikz.synctex.gz
tikz/tikz.pdf
